div {  /* same options for all divs */
 font: bold LUCIDA CONSOLE;
 border: hidden;
 background: white;
 width: 100%;
 height: 100%;
 color: black;
 touch-action: none;
}
div.space {
  height: 1%;
}
div.main {
margin: auto;
}
div.menu {
display: grid;
grid-template-columns: 23% 33% 43%;
grid-template-rows: 100%;
font-size: 3.4em;
height: 5%;
background: #e6e6e6;
text-align: right;
}
div.inputs {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 33% 33% 33%;
  font-size: 1.7em;
  height: 18%;
  text-align: right;
}
div.memory {
  display: grid;
  grid-template-columns: 17% 58% 25%;
  grid-template-rows: 33% 33% 33%;
  height: 14%;
}
div.memorybuttons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-row: span 3;
}
div.keyboard {
  display: grid;
  grid-template-columns: 25% 25% 25% 26%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 45%;
}
div.name {
 height: 18%;
}
div.sciencebutton{
font-size: 100%;
border-radius: 10%;
grid-row: span 2;
}
.menu * {
background: #e6e6e6;
text-align: center;
font-size: 50px;
font-family: sans-serif;
}

/* button styles */
button { /* same options for all buttons */
  width: 95%;
  height: 95%;
  border-radius: 10%;
  border: 1px solid #aaaaaa;
  -webkit-appearance: none;
  -moz-appearance: none;
  font: bold LUCIDA CONSOLE;
  font-weight: bold;
  font-size: 4em;
  color: black;
}
button:hover {
background-color: #c8c8c8;
}
button.menu {
background: #d5f4d9;
font-size: 95%;
color: black;
}
button.clearbutton {
font-size: 1.3em;
background-color: #ff00001f;
}
button.calcbutton {
background-color: #e0e2ff;
}
button.resultbutton {
background-color: #d5f4d9;
height: 97%;
}
button.sсiencebutton {
  height: 97%;
}
button.memorybutton {
background-color: white;
align-self:center;
}

/* input styles */
input { /* same option for all inputs */
  font: bold LUCIDA CONSOLE;
  width: 100%;
  height: 100%;
  font-size: max(1em, min(3.4em, calc(100vw * 4 / 75)));
}
input.menutext{
font-size: 1em;
text-align: right;
border: hidden;
}
input.main{
border: 0;
text-align: right;
outline:none;
}
input.memorytext{
background: white;
text-align: center;
border: hidden;
}
input.memoryinput{
  height: 94%;
  width: 98%;
background: #d5f4d9;
text-align: left;
border-radius: 5px;
border: 1px solid #aaaaaa;
}
input.NSname{
  font: LUCIDA CONSOLE;
  font-weight: bold;
  font-size: 7em;
  touch-action: none;
  text-align: center;
  border: hidden;
  magrin: 0;
}
