/* div styles */
div {  /* same options for all divs */
 font: bold LUCIDA CONSOLE;
 border: hidden;
 background: white;
 width: 100%;
 height: 100%;
 color: black;
}
div.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.main {
margin: auto;
}
div.top {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 13% 67%;
  height: 7%;
}
div.modes {
display: grid;
grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
grid-template-columns: 33.3% 33.3% 33.3%;
height: 73%;
font-size: 1.7em;
text-align: right;
}
div.name {
 height: 18%;
}
div.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button styles */
button { /* same options for all buttons */
  width: 95%;
  height: 95%;
  border-radius: 10%;
  border: 1px solid #aaaaaa;
  font: bold LUCIDA CONSOLE;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.8em;
  color: black;
  margin: 0 auto;
}
button.menubutton{
  background: #d5f4d9;
  font-size: 3em;
  color: black;
}

/* input styles */
input.NSname{
  height: 100%;
  width: 100%;
  font-size: 4.5em;
  font: bold LUCIDA CONSOLE;
  text-align: center;
  border: hidden;
}
input.percent{
width: 100%;
height: 100%;
font: LUCIDA CONSOLE;
font-weight: bold;
font-size: 585%;
touch-action: none;
border: 0;
text-align: left;
outline:none;
}
